.paint-container {
    width: 80vw;
    height: 80vh;
    border: solid;
}

#viewport {
    position: relative;
}

#viewport canvas {
    position: absolute;
}

canvas {
    background-color: transparent;
}

#canvas {
    z-index: 2;
}

#temp_canvas {
    z-index: 1;
}
