#viewport {
    width: 80vw;
    height: 80vh;
    border: solid;
    margin: 0 auto;
}

#viewport canvas {
    position: absolute;
    background-color: transparent;
}

#canvas {
    z-index: 2;
}

#temp_canvas {
    z-index: 1;
}

.images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.auth-container {
    display: flex;
    flex-direction: column;
}

.users-select {
    width: 200px;
}
